@import url(./reset.css);


:root {
  --main-color: #fb8b24;
  --main-color-alt: #e36414;
  --title-color: hsl(207, 12%, 15%);
  --text-color: hsl(207, 12%, 45%);
  --text-color-light: hsl(0, 0%, 76%);
  --text-color-lighten: hsl(207, 8%, 92%);
  --body-color: #ffffff;
  --container-color: #fff;
}

html{
  font-size: 18px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .3s;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: 600;
}

img {
  max-width: 100%;
  height: auto;
}

.dark-theme .button-gray{
  background-color: var(--container-color);
}

.dark-theme .button-gray:hover{
  background-color: hsl(207, 24%, 16%);
}

.dark-theme .filters-content{
  background-color: var(--container-color);
}


.dark-theme::-webkit-scrollbar{
  background-color: hsl(207, 8%, 16%);
}

.dark-theme::-webkit-scrollbar-thumb{
  background-color: hsl(207, 8%, 24%);
}

.dark-theme::-webkit-scrollbar-thumb:hover{
  background-color: hsl(207, 8%, 32%);
}

.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.profile {
  position: relative;
  padding-top: 3.5rem;
}

.profile-container {
  row-gap: 2rem;
}

.profile-data {
  display: grid;
  text-align: center;
}

.profile-border {
  border: 3.5px solid var(--main-color);
  justify-self: center;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 0.75rem;
}

.profile-perfil {
  width: 125px;
  height: 125px;
  background: linear-gradient(
    180deg,
    rgb(191, 165, 127) 0%,
    rgba(179, 137, 96, 0.2) 100%
  );
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.profile-perfil img {
  width: 120px;
}

.profile-name {
  font-size: 1.25rem;
}

.profile-profession {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-color);
  margin: 0.2rem 0 1rem;
}

.profile-social {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

.profile-social-link {
  font-size: 1.25rem;
  color: var(--title-color);
  transition: 0.3s;
}

.profile-social-link:hover {
  color: var(--main-color);
}

.profile-buttons,
.profile-buttons-small {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-buttons {
  gap: 1rem;
}

.profile-buttons-small {
  gap: 0.25rem;
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--main-color);
  color: #fff;
  padding: 1.15rem 1.5rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  box-shadow: 0 8px 24px hsla(207, 90%, 61%, 0.25);
}

.button i {
  font-size: 1.25rem;
}

.button:hover {
  background-color: var(--main-color-alt);
}

.button-small {
  padding: 0.74rem;
  box-shadow: none;
}

.button-gray {
  background-color: var(--text-color-lighten);
  color: var(--text-color);
}

.button-gray:hover {
  background-color: var(--text-color-light);
}

.filters-content {
  margin: 2rem 0 2.5rem;
  background-color: var(--text-color-lighten);
  padding: 0.375rem;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.filters-button {
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  color: var(--title-color);
  font-size: 0.8rem;
  font-family: inherit;
  font-weight: 500;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s;
}

.filters-button:hover {
  background-color: var(--body-color);
}

.projects-card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.projects-card:hover .projects-modal {
  bottom: 0;
}

.projects-card img {
  width: 100%;
  height: 100%;
}

.projects-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  background: linear-gradient(
    180deg,
    hsla(207, 24%, 40%, 0.3) 0%,
    hsla(207, 24%, 4%, 1) 95%
  );

  display: grid;
  align-items: flex-end;
  padding: 1.5rem 1.25rem;
  transition: 0.3s;
}

.projects-subtitle,
.projects-title {
  color: #fff;
}

.projects-subtitle {
  font-size: 0.75rem;
}

.projects-title {
  font-size: 1.35rem;
  margin-bottom: 0.75rem;
}

.projects-button {
  padding: 0.5rem;
}

.skills-box {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
}

.skills-group {
  display: grid;
  align-content: flex-start;
  row-gap: 1rem;
}

.skills-data {
  display: flex;
  column-gap: 0.5rem;
}

.skills-data i {
  font-size: 1rem;
  color: var(--main-color);
}

.skills-name {
  font-size: 0.94rem;
  font-weight: 500;
  line-height: 18px;
}

.filters [data-content] {
  display: none;
}

.filters-active[data-content] {
  display: grid;
}

.filter-tab-active {
  background-color: var(--body-color);
}

.footer-copy {
  display: block;
  margin: 2.5rem 0 2rem;
  text-align: center;
  font-size: 0.75rem;
  color: var(--text-color-light);
}

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(207, 8%, 66%);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsl(207, 8%, 54%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(207, 8%, 44%);
}

/*---------TOGGLER-----------*/
/*----------------DARK THEME---------------*/

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fb8b24;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: 0.4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #FFEB3B;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #622b0a;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #622b0a;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}

.change-theme {
  position: absolute;
  top: 1.5rem;
  right: 0;
  cursor: pointer;
  transition: 0.3;
}

body.dark-theme {
  --title-color: hsl(207, 12%, 95%);
  --text-color: hsl(207, 12%, 75%);
  --body-color: #1a0c03;
  --container-color: #622b0a;
}


@media screen and (max-width: 320px){
  .container{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .profile-buttons{
    flex-direction: column;
    row-gap: 1rem;
  }

  .skills-box{
    column-gap: 1rem;
  }
}


@media screen and (min-width: 576px){
  .projects-content{
    grid-template-columns: 332px;
    justify-content: center;
  }

  .filters-content{
    width: 332px;
    margin: 3rem auto;
  }
}

@media screen and (min-width: 776px){
  .projects-content{
    grid-template-columns: repeat(2, 332px);
  }
}


@media screen and (min-width: 992px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .change-theme{
    top: 2.5rem;
    right: 2.5rem;
  }

  .profile{
    padding-top: 4rem;
  }

  .profile-border{
    width: 135px;
    height: 135px;
    margin-bottom: 1rem;
  }

  .profile-perfil{
    width: 120px;
    height: 120px;
  }
  .profile-prefil img{
    width: 90px;
  }
  .profile-profession{
    margin-bottom: 1.5rem;
  }

  .profile-buttons{
    column-gap: 2rem;
  }

  .projects-content{
    gap: 2rem 3rem;
  }

  .projects-modal{
    padding: 1.5rem;
  }

  .footer-copy{
    margin: 4.5rem 0 2.5rem;
  }
  
}